<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/invalidMessage.css">
</head>

<body>
    <header>
      <img src="../static/css/img/nobackground.png" alt="logo" width="15%">
    </header>
  
    <h1>Invalid credentials. Try again</h1>
    <div class="svg-wrapper" style="margin-left: 45%;" >
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href="http://127.0.0.1:5000/"><span class="spot"></span>Go Back to login</a>
        </div>
      </svg>
    </div>
  
  <footer>
      <p>&copy; 2023 NDPL. All rights reserved</p>
  </footer>
  
  </body>


</html>