<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/KitchenPage.css">
</head>
<body>
  <header>
    <p>Luigi13</p>
   <a href="http://127.0.0.1:5000/"> <img src="../static/css/img/newimg.png" alt="logo" width="15%"> </a>
  </header>

  <div class="kitchen-container">
    <div class="table">
        <h2><center>Orders To Be Done</h2></center>
        <ul class="order-list" id="todo-list">
            {% for order in orders %}
            <li class="order-item">
                <input type="checkbox">
                Pizza: {{ order.Name }} - Price: {{ order.Price }} Euro 
            </li>
                {% endfor %}
            
        </ul>
        <form method="POST" action="/takeIn">
        <button id="take-in-button"><h2>Take In</h2></button>
        
        </form>
    </div>
    
    <div class="table">
        <h2><center>Orders In Progress</center></h2>
        <ul class="order-list" id="in-progress-list" style="height: 300px;">
            {% for order in in_progress_orders %}
              <li> 
                <input type="checkbox">
                Product: {{ order.Name }} Price: {{order.Price}}
            </li>
            {% endfor %}
        </ul>
        <form method="POST" action="/go_to_oven">
        <button id="go-to-furnace-button"><h2>Go To Furnace</2h></button>
        </form>
    </div>

    <div class="table">
        <h1><center>Furnace</center></h1>
        <ul class="order-list" id="in-furnace-list">
            {% for order in cooked_orders %}
            <li> 
              <input type="checkbox">
              Product: {{ order.Name }} Price: {{order.Price}}
          </li>
          {% endfor %}
        </ul>
    </div>
</div>

<script>
    const todoList = document.getElementById("todo-list");
    const inProgressList = document.getElementById("in-progress-list");
    const inFurnaceList = document.getElementById("in-furnace-list");
    const takeInButton = document.getElementById("take-in-button");
    const goToFurnaceButton = document.getElementById("go-to-furnace-button");

   

    // Function to move orders
    function moveOrder(sourceList, targetList) {
        const selectedItems = Array.from(sourceList.querySelectorAll(".order-item input:checked"));
        selectedItems.forEach(item => {
            targetList.appendChild(item.parentNode);
        });
    }

     // Function for furnace timer
     function removeAfterTimeout(orderItem) {
            const timerElement = document.createElement("span");
            timerElement.className = "timer";
            timerElement.textContent = "10s";
            orderItem.appendChild(timerElement);

            const timer = setInterval(() => {
                const timeLeft = parseInt(timerElement.textContent) - 1;
                timerElement.textContent = timeLeft + "s";
                if (timeLeft === 0) {
                    clearInterval(timer);
                    orderItem.remove();
                }
            }, 1000);
        }

    takeInButton.addEventListener("click", () => {
        moveOrder(todoList, inProgressList);
    });

    goToFurnaceButton.addEventListener("click", () => {
        moveOrder(inProgressList, inFurnaceList);
        const inFurnaceItems = Array.from(inFurnaceList.querySelectorAll(".order-item"));
        inFurnaceItems.forEach(item => {
            removeAfterTimeout(item);
        });
    });
</script>

<footer>
    <p>&copy; 2023 NDPL. All rights reserved</p>
</footer>

</body>
</html>