<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginStaff.css">
</head>
<body>
  <header>
    <img src="/static/css/img/nobackground.png" alt="logo" width="15%">
  </header>

  <div class="container">
    <!-- Update the form action and method attributes for Flask -->
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>

<footer>
    <p>&copy; 2023 NDPL. All rights reserved</p>
</footer>

</body>
</html>