<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/marioPage.css">
</head>
<body>
  <header>
    <p class="username" style="right: 100%;">Mario12</p>
    <br>
    <a href="http://127.0.0.1:5000/MenuPage" class="menuButton">Menu</a>
    
    <a href="http://127.0.0.1:5000/"><img src="../static/css/img/newimg.png" alt="logo" width="15%"></a>
  </header>

  <div class="container">
    <div class="table">
        <h2><center>Unpaid</center></h2>
        <ul class="order-list" id="in-progress-list">
            
        </ul>
        <button id="go-to-furnace-button"><h2>Go To Ordered</2h></button>
    </div>

    <div class="table">
        <h2><center>Ordered</center></h2>
        <ul class="order-list" id="in-progress-list">
             <ul>
                <h2><center>Ordered</center></h2>
    </ul>
        </ul>
        <button id="go-to-furnace-button"><h2>Go To In Progress</2h></button>
    </div>

    <div class="table">
        <h2><center>In Progress</center></h2>
        <ul class="order-list" id="in-progress-list">
        </ul>
        <button id="go-to-furnace-button"><h2>Go To Furnace</2h></button>
    </div>

    <div class="table">
        <h2><center>In Furnace</center></h2>
        <ul class="order-list" id="in-progress-list">
            
        </ul>
        <button id="go-to-furnace-button"><h2>Completed</2h></button>
    </div>

    <div class="table">
        <h2><center>Completed</center></h2>
        <ul class="order-list" id="in-progress-list">
            
        </ul>
    </div>
</div>

<p class="order-list" id="in-progress-list">
    {% for order in orders %}
        <li>{{ order }}</li>
    {% endfor %}
    
</p>

<footer>
    <p>&copy; 2023 NDPL. All rights reserved</p>
</footer>

</body>
</html>