<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/marioPage.css">
</head>
<body>
  <header>
    <p class="username" style="right: 100%; border: 2px black solid;">Mario12</p>
    <br>
    <a href="http://127.0.0.1:5000/MenuPage" class="menuButton">Menu</a>
    
    <a href="http://127.0.0.1:5000/"><img src="../static/css/img/newimg.png" alt="logo" width="15%"></a>
  </header>

  <div class="container">
    <div class="table">
        <h2><center>Unpaid</center></h2>
        <ul class="order-list" id="unpaid-list" style="list-style-type: none; height: 238px;">
            <li class="order-item"><input type="checkbox" class="order-checkbox"> Item 1</li>
            <li class="order-item"><input type="checkbox" class="order-checkbox"> Item 2</li>
        </ul>
        <button id="go-to-ordered-button" style="width: 100%; background-color: black; color: white;"><h2>Go To Ordered</h2></button>
    </div>

    <div class="table">
        <h2><center>Ordered</center></h2>
        <ul class="order-list" id="ordered-list" style="list-style-type: none; height: 300px;;">
            {% for order in orders %}
            <li class="order-item">
                <input type="checkbox">
                Product: {{ order.Name }} - Price: {{ order.Price }} Euro 
            </li>
                {% endfor %}
                Total Price {{total_price}}
            
        </ul>
    </div>

    <div class="table" style="list-style-type: none;">
        <h2><center>In Progress</center></h2>
        <ul class="order-list" id="in-progress-list" style="height: 300px;">
           
        </ul>
    </div>

    <div class="table">
        <h2><center>In Oven</center></h2>
        <ul class="order-list" id="in-furnace-list" style="list-style-type: none; height: 238px;">
            <p class="order-list" id="in-progress-list">
                <ul class="order-item">
                </ul>
                <ul class="order-item">
                </ul>
            </p>
        </ul>
        <button id="completed-button" style="width: 100%; background-color: black; color: white;"><h2>Completed</h2></button>
    </div>

    <div class="table">
        <h2><center>Completed</center></h2>
        <ul class="order-list" id="completed-list" style="height: 300px;">
           
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Button click events
        $('#go-to-ordered-button').on('click', function () {
            // Move all items from unpaid-list to ordered-list
            $('#ordered-list').append($('#unpaid-list .order-item'));
        });

        $('#completed-button').on('click', function () {
            // Move all checked items from in-furnace-list to completed-list
            $('#completed-list').append($('#in-furnace-list .order-item:has(:checkbox:checked)'));
        });
    });
</script>
<footer>
    <p>&copy; 2023 NDPL. All rights reserved</p>
</footer>

</body>
</html>